        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            display: flex;
            justify-content: space-between;
            max-width: 1200px;
            margin: 50px auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .order-column {
            flex-grow: 1;
            padding-right: 20px;
        }
        .right-column {
            flex-basis: 300px;
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 10px;
        }
        h1 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }
        .order-list h2 {
            text-align: center;
            color: #666;
            margin-bottom: 10px;
        }
        .order-list ul {
            list-style-type: none;
            padding: 0;
        }
        .order-list ul li {
            margin-bottom: 10px;
            font-size: 16px;
            color: #444;
            background-color: #f0f0f0;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .order-list ul li span {
            font-weight: bold;
            color: #333;
        }
        .oven-info {
            margin-top: 20px;
            border-top: 1px solid #ccc;
            padding-top: 20px;
        }
        .pizza-list {
            margin-top: 10px;
            padding-left: 20px;
        }
        .pizza-list h3 {
            color: #666;
            margin-bottom: 10px;
            font-size: 18px;
            text-transform: uppercase;
        }
        .pizza-list ul {
            list-style-type: none;
            padding: 0;
        }
        .pizza-list ul li {
            margin-bottom: 5px;
            font-size: 16px;
            color: #444;
            background-color: #f0f0f0;
            padding: 8px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .pizza-list ul li span {
            font-weight: bold;
            color: #333;
        }