<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <script src="../static/scripts/cart.js" async></script>
</head>
<body>
<header>
    <div class="container">
        <h1>Shopping Cart</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="cart">
    <div class="container">
        <h2>Your Cart</h2>
        <div class="cart-items">
            <table>
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="cartBody">
                </tbody>
            </table>
            <p id="total-price">Total Price: ${{ total_price }}</p>
            <button class="btn" onclick="submitOrder()">Submit Order</button>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; 2024 Pizza Restaurant. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
