<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Pizza Restaurant</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
<header>
    <div class="container">
        <img src='../static/images/logo-removebg.png' alt="Pizza Restaurant Logo" class="logo">
        <h1>Welcome to Our Pizza Restaurant</h1>
        <nav>
            <ul>
                <li><a href="/menu">Menu</a></li>
                <li><a id="cart-link" href="/view_cart">Cart</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="hero">
    <div class="container">
        <h2>Delicious Pizza Made Just for You</h2>
        <p>Order now and enjoy our mouthwatering pizzas delivered straight to your doorstep.</p>
        <br><br><br>
        <a href="/menu" class="btn">Order Now</a>
        <br><br><br><br><br><br>
    </div>
</section>


<footer>
    <div class="container">
        <p>&copy; 2024 Pizza Restaurant. All rights reserved.</p>
    </div>
</footer>
</body>
<script>localStorage.clear()</script>
</html>
