<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link href="../static/styles/login.css" type="text/css" rel="stylesheet">
    <script src="../static/scripts/login.js" async></script>
</head>

<body>
<center>
    <br><br><br><br><br><br><br><br><br><br> <br><br>
    <table>
        <tr>
            <td colspan="2">
                <h1>Log in</h1>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <form id="loginForm">
                    <input aria-label="email" type="email" id="email" placeholder="Email" required><br>
                    <input aria-label="password" type="password" id="password" placeholder="Password" required><br><br>
                    <input type="submit" value="Log in">
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>Don't have an account? <a href="/auth/signup">Register here</a></p>
            </td>
        </tr>
    </table>
    <br>
</center>
</body>
</html>
